<h2>Education</h2>
<div>
  <h3>School</h3>
  <div class="education-level">
    <a href="https://wmi.amu.edu.pl">University of Adama Mickiewicz in Poznań</a>
    <p>[2007] - [2010] <span>Computer science - bachelor degree</span></p>
  </div>
  <div class="education-level">
    <a href="https://wmi.amu.edu.pl">University of. Adama Mickiewicz in Poznań</a>
    <p>[2010] - [2012] <span>Computer science - masters degree</span></p>
    <p>
      <span>Master's thesis entitled:</span>
      <span>"Extending the SQL language with imprecise queries and implementation of the work topic for MSSQL using T-SQL"</span>
    </p>
  </div>
</div>
<div>
  <h3>Certificates</h3>
  <ul>
    <li>MongoDb basics [2023]</li>
    <li>M101J: MongoDb for Java Developers [2014]</li>
    <li>Professional Scrum Master (PSM1) [2013]</li>
  </ul>
</div>
<div>
  <h3>Trainings</h3>
  <ul>
    <li>MongoDb Java developer path [2023]</li>
    <li>MongoDb basics [2023]</li>
    <li>Advanced DDD - Botega [2022]</li>
    <li>DNA - way of modern architect [2020]</li>
    <li>Self-presentation</li>
    <li>IT department. Project and IT process management</li>
    <li>Java Performance Tuning- Kirk Pepperdine</li>
    <li>Java Spring</li>
    <li>Java Spring advance</li>
    <li>MongoDB Mongo for Java Developers [2014]</li>
    <li>Angular 2</li>
    <li>Modern JS</li>
    <li>Professional Scrum Master [2013]</li>
  </ul>
</div>
