<div class="outer-menu">
  <input class="checkbox-toggle" type="checkbox" #menuVisibilityCheckbox/>
  <div class="hamburger">
    <div></div>
  </div>

  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a routerLink="" (click)="hideMenu()">home</a></li>
          <li><a routerLink="experience" (click)="hideMenu()">experience</a></li>
          <li><a routerLink="tools" (click)="hideMenu()">tools</a></li>
          <li><a routerLink="education" (click)="hideMenu()">education</a></li>
          <li><a routerLink="projects" (click)="hideMenu()">projects</a></li>
          <li><a (click)="downloadCv()" class="download-cv">download pdf version</a></li>
          <li><a class="download-cv"
                 [href]="googleDocsCvLink"
                 target="_blank">link to CV on google docs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
