<!-- Desktop top navigation -->
<nav class="top-nav">
  <ul>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">home</a></li>
    <li><a routerLink="experience" routerLinkActive="active">experience</a></li>
    <li><a routerLink="tools" routerLinkActive="active">tools</a></li>
    <li><a routerLink="education" routerLinkActive="active">education</a></li>
    <li><a routerLink="projects" routerLinkActive="active">projects</a></li>
    <li><a class="download-cv" [href]="googleDocsCvLink" target="_blank" rel="noopener noreferrer">download cv</a></li>
  </ul>
</nav>

<!-- Mobile hamburger menu -->
<div class="outer-menu">
  <input class="checkbox-toggle" type="checkbox" #menuVisibilityCheckbox/>
  <div class="hamburger">
    <div></div>
  </div>

  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a routerLink="" (click)="hideMenu()">home</a></li>
          <li><a routerLink="experience" (click)="hideMenu()">experience</a></li>
          <li><a routerLink="tools" (click)="hideMenu()">tools</a></li>
          <li><a routerLink="education" (click)="hideMenu()">education</a></li>
          <li><a routerLink="projects" (click)="hideMenu()">projects</a></li>
          <li><a class="download-cv"
                 [href]="googleDocsCvLink"
                 target="_blank" rel="noopener noreferrer">Download CV from google docs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
