<div>
  <h2>Programmer / Leader / Architect</h2>
</div>
<div>
  <div>
    <h3>About me</h3>
    <p>
      With over {{ experience }}+ years of professional experience in software development, architectural design, and engineering leadership,
      I am committed to delivering high-quality solutions. I prioritize clean, readable code, maintainable architecture, optimal performance, and effective monitoring. My
      decision-making is driven by data and a focus on product development.
    </p>
    <p>
      I am a firm believer in avoiding unnecessary reinvention, which is why I apply principles such as TDD, DDD, DRY, SOLID, and KISS in my daily work.
    </p>
    <p>
      Knowledge sharing is one of my passions, and I maintain a strong focus on achieving goals. Looking ahead,
      I aim to further develop my career towards leadership or architectural roles.
    </p>
  </div>
  <div>
    <h3>Languages</h3>
    <ul>
      <li>Polish - native</li>
      <li>English - B1/B2</li>
    </ul>
  </div>
  <div>
    <h3>Hobby</h3>
    <p>
      motorization, it, music, sport, lean/agile
    </p>
  </div>
</div>


<div>
  <a (click)="showMenu()"><img src="assets/logos/home.png" alt="home"></a>
  <a href="https://github.com/orczykowski" target="_blank"><img src="assets/logos/github.png" alt="github"></a>
  <a href="https://www.linkedin.com/in/grzegorz-orczykowski-08b3096a/" target="_blank"><img
    src="assets/logos/linkedin.png"
    alt="linkedin"></a>
</div>

